<!DOCTYPE html>
<html>
<head>
   <title>Upload Image</title>
   <meta charset="utf-8" />
   </head>
   <header>
      <nav style="color: black;font-family:arial">
      <a href="{{ url_for('root_page') }}">Home</a>
      <a href="/{{ username }}/upload">Upload Image</a>
      <a href="/{{ username }}/all_images">View Images</a>
      <a href="{{ url_for('users') }}">Admin</a>
      <a href="{{ url_for('logout') }}">Logout</a>
   </nav>
   </header>
   <body>
      <!DOCTYPE html>
      <html>
         <head>
            <title>S3 Image Upload</title>
         </head>
         <body>
            <div class="content">
                  <h3>S3 Flask Image Gallery</h3>
                  <p>Welcome!</p>
                  <div>
                     <h3>Upload your file here:</h3>
                     <form method="POST" action="/upload" enctype=multipart/form-data>
                        <input type=file name=file>
                        <input type=submit value=Upload>
                     </form>
                  </div>
                  <div>
                     <h3>These are your uploaded files:</h3>
                     <p>Click on the filename to download it.</p>
                     <ul>
                        {% for image in contents %}
                           <li>
                              <img src="data:image/jpeg;base64,{{ image | safe }}">
                           </li>
                        {% endfor %}
                     </ul>
                  </div>
            </div>
         </body>
      </html>
   </body>
</html>

