<!DOCTYPE html>
<html>
  <head>
    <title>View User Images</title>
    <meta charset="utf-8" />
  </head>
  <header>
    <nav style="color: black;font-family:arial">
      <a href="{{ url_for('root_page') }}">Home</a>
      <a href="{{ url_for('users') }}">Admin</a>
      <a href="/{{ user.username }}/upload">Upload Image</a>
      <a href="/{{ user.username }}/all_images">View Images</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
  </header>
  <body>
    <div>
      <h3>S3 Flask Image Gallery</h3>
      <h4>Welcome, {{ user.full_name}} ({{ user.username }})!</h4>
      {% if contents %}
        <h5>These are your uploaded images:</h5>
        {% for key, value in contents.items() %}
          <a href="{{ url_for('view_image', username=user.username, key=key) }}">
            <img src="data:image/jpeg;base64,{{ value | safe }}" width="200" height="200">
          </a>
          <a href="{{ url_for('delete_image', username=user.username, key=key) }}">Delete</a>
        {% endfor %}
      {% else %}
      <h3>You don't currently have any uploaded images!</h3>
      {% endif %}
    </div>
  </body>
</html>

