<!DOCTYPE html>
<html>
	<head>
	<title>Admin - Edit User</title>
	<meta charset="utf-8" /> 
	</head>
	<header>
		<nav style="color: black;font-family:arial">
			<a href="{{ url_for('root_page') }}">Home</a>
			<a href="{{ url_for('users') }}">Admin</a>
			<a href="{{ url_for('new_user_interface') }}">Create New User</a>
			<a href="{{ url_for('logout') }}">Logout</a>
		</nav>
	</header>
	<body>
	<script>
				function ConfirmDelete()
				{
					var x = confirm("Are you sure you want to delete {{user.username}} ({{user.full_name}})?");
					if (x)
							return true;
					else
						return false;
				}
		</script>
		<h1>User Modification</h1>
		<h2>Editing Profile for {{ user.full_name }} - {{ user.username }}</h2>
		<form action="/admin/commitEdit" method="POST">
			New Password: <input name="new_password" value ="" /><br />
			New Full Name: <input name="new_full_name" value ="" /><br />
			<input type="hidden" name="username" value="{{ user.username }}">
			<input style="margin: 5px; font-size: 16px;width: 100px;text-align: center;" type ="submit" value="Save" />
		</form>
		<form action="/admin/executeDeleteUser/{{ user.username }}" method="GET">
			<input type="hidden" name="username" value="{{ user.username }}">
			<input style="margin: 5px; font-size: 16px; width: 100px; text-align: center;" Onclick="return ConfirmDelete();" type ="submit" value="Delete User" />
		</form>
	</body>
</html>


