<!DOCTYPE html>
<html>
<head>
   <title>Home</title>
   <meta charset="utf-8" />
   </head>
   <header>
      <nav style="color: black;font-family:arial">
      <a href="/{{ user.username }}/upload">Upload Image</a>
      <a href="/{{ user.username }}/all_images">View Images</a>
      <a href="{{ url_for('users') }}">Admin</a>
      <a href="{{ url_for('logout') }}">Logout</a>
   </nav>
   </header>
   <body>
      <h1>Home</h1>
      <h2>Welcome back {{ user.full_name }} ({{ user.username }})!<h2>
   </body>
</html>

