<!DOCTYPE html>
<html>
	<head>
	<title>Admin - New User</title>
	<meta charset="utf-8" />
	<style>
			label, input {
				width: 200px;
				font-size: 16px;
				margin: 10px;
			}
	</style> 
	</head>
	<header>
		<nav style="color: black;font-family:arial">
			<a href="{{ url_for('admin_interface') }}">Home</a>
			<a href="{{ url_for('new_user_interface') }}">Create New User</a>
		</nav>
	</header>
	<body>
		<h1>New User Creation</h1>
		<form action="/admin/commitNewUser" method="POST">
			<label>Username:</label><input name="username" value ="" /><br />
			<label>Password:</label><input name="new_pass" value ="" /><br />
			<label>Full Name:</label><input name="new_fullname" value ="" /><br />
			<input style="text-align: center;" type ="submit" value="Save" />
		</form>
	</body>
</html>
